.home{
  animation: fadeIn 1.5s ease-in-out;
  background-color: $gray;
    &__container{
        display: flex;
        width: auto;
        height: 100vh;
        &-img{
          width: 10vw;
          position: absolute;
          margin-top: 7vw;
          margin-left: 45vw;
        }
        &-btn{
          width: 20%;
          height: 10vw;
          margin-top: 22.5%;
          background-color: $gray;
          border-radius: 10px;
          transition: all 0.1s ease-in-out;
          margin-left: 20vw;
          border: solid 1px $light-gray;
          &:hover{
            box-shadow: 0 0 12px $light-gray;
            transform: translateY(-1.5px);
          }
          &:active{
            box-shadow: 0 0 6px $black;
            border: solid 1px $black;

            transform: translateY(0px);
          }
          &-link{
            display: block;
            height: 100%;
            width: 100%;
            text-decoration: none;
            color: $white;
            text-align: center;
            font-family: 'magma-wave';
            font-size: 1.5vw;
            padding-top: 3.5vw;
            border-radius: 10px;
            &:hover{
              color: $white;
            }
            &-bis{
              font-family: Averia Sans Libre;
              font-weight: bold;
              margin-left: 1px;
            }
          }
        }
    }
}
