@keyframes fadeInOut{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    } 
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes rotation{
    0%{
        transform: rotate(0deg) scale(1, 1) translate(0, 0);
    }
    50%{
        margin-bottom: 500px;
        margin-left: 50px;
        transform: rotate(360deg) scale(1.2, 1.2) translate(5px, 5px) translate3d(-25px, 50px, -25px);
    }
    100%{
        transform: rotate(720deg) scale(1, 1) translate(0, 0);
    }
}