@font-face{
    font-family: 'gothic';
    src: local("gothic"),
        url(../fonts/gothic.woff) format('woff');
}
@font-face{
    font-family: 'icomoon';
    src: local("icomoon"),
        url(../fonts/icomoon.woff) format('woff');
}
@font-face{
    font-family: 'magma-wave';
    src: local("magma-wave"),
        url(../fonts/magma-wave.woff) format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
