// fonts locales
@font-face{
    font-family: 'gothic';
    src: local("gothic"),
        url(../fonts/gothic.woff) format('woff');
}
@font-face{
    font-family: 'icomoon';
    src: local("icomoon"),
        url(../fonts/icomoon.woff) format('woff');
}
@font-face{
    font-family: 'magma-wave';
    src: local("magma-wave"),
        url(../fonts/magma-wave.woff) format('woff');
}
//
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&display=swap');

$h1: 32px;
$h2: 20px;
$h3: 18px;
$p: 16px;