.devis{
    animation: fadeIn 1s ease-in-out;
    background-color: $gray;
    padding: 30px 0 30px 0; //margin: haut droite bas gauche;
    &__container{
        font-family: 'Nunito Sans';
        display: block;
        max-width: 1080px;
        height: 1520px;
        padding: 60px;
        margin: 30px auto auto auto;
        border: solid 2px transparentize($color: $white, $amount: 0.3);
        &-link{
            display: block;
            position: absolute;
            width: 150px;
            &-img{
                margin-left: 45%;
                width: 150px;
            }
        }
        &-section{
            &-first-block{
                display: flex;
                &-infos{
                    width: 400px;
                    height: 130px;
                    margin-left: 555px;
                    &-devis{
                        margin: 2.5% 5% 2% 5%;
                        &-text{
                            display: inline-block;
                            margin-bottom: 15px;
                            width: auto;
                            color: $white;
                            font-size: $h2;
                        }
                        &-input{
                            display: inline-block;
                            text-align: center;
                            @include input-style;
                            font-size: $h2;
                            margin-left: 10%;
                            width: 70%;
                        }
                    }
                    &-date{
                        width: 90%;
                        margin: -5px 0 0 5%;
                        border-bottom: solid 2px transparentize($color: $black, $amount: 0.70);
                        &-text{
                            display: inline-block;
                            width: auto;
                            color: $white;
                            font-size: $h3;
                            margin-left: 1px;
                        }
                        &-input{
                            display: inline-block;
                            @include input-style;
                            font-size: $h3;
                            margin-left: 35%;
                            &[type="date"]::-webkit-inner-spin-button,
                            &[type="date"]::-webkit-calendar-picker-indicator {
                                opacity: 0;
                                cursor: help;
                                &:hover{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    &-dateL{
                        width: 90%;
                        margin: 0 0 0 5%;
                        &-text{
                            display: inline-block;
                            width: auto;
                            color: $white;
                            font-size: $h3;
                            margin-left: 1px;
                        }
                        &-input{
                            display: inline-block;
                            @include input-style;
                            font-size: $h3;
                            margin-left: 21.2%;
                            &[type="date"]::-webkit-inner-spin-button,
                            &[type="date"]::-webkit-calendar-picker-indicator {
                                opacity: 0;
                                cursor: help;
                                &:hover{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            &-second-block{
                display: flex;
                margin-top: 30px;
                &-me{
                    :nth-child(1){
                    font-size: $h3 !important;
                    }
                    width: 300px;
                    height: 165px;
                    padding: 15px 0 0 25px;
                    &-text{
                        width: auto;
                        color: $white;
                        font-size: $p;
                    }
                }
                &-client{
                    width: 400px;
                    height: 165px;
                    margin-left: 300px;
                    &-input{
                        display: block;
                        @include input-style;
                        margin: 15px 15px 15px 15px;
                        padding-left: 10px;
                        font-size: $p;
                        max-height: 140px;
                        min-width: 375px;
                        max-width: 375px;
                    }
                }
            }
            &-third-block{
                display: flex;
                background-color: $light-gray;
                height: 70px;
                margin-top: 30px;
                justify-content: center;
                &-title{
                    display: inline-block;
                    padding-top: 13.5px;
                    width: auto;
                    color: $white;
                    font-size: $h1;
                    background-color: transparent;
                    border: none;
                    width: 100%;
                    min-width: 100%;
                    min-height: 70px;
                    max-height: 70px;
                    text-align: center;
                    color: $white;
                    font-family: Nunito Sans;
                }
            }
            &-fourth-block{
                background-color: $light-gray;
                min-height: 130px;
                margin-top: 30px;
                &-table{
                    width: 100%;
                    padding: 12px;
                    &-head{
                        display: flex;
                        text-align: center;
                        background-color: transparentize($color: $white, $amount: 0.90);
                        height: 50px;
                        line-height: 3;
                        &-description{
                            display: block;
                            width: 100%;
                            color: $white;
                            border-right: solid 2px transparentize($color: $black, $amount: 0.70);
                        }
                        &-unit{
                            display: block;
                            width: 100%;
                            color: $white;
                            border-right: solid 2px transparentize($color: $black, $amount: 0.70);
                        }
                        &-qty{
                            display: block;
                            width: 100%;
                            color: $white;
                            border-right: solid 2px transparentize($color: $black, $amount: 0.70);
                        }
                        &-unitPrice{
                            display: block;
                            width: 100%;
                            color: $white;
                            border-right: solid 2px transparentize($color: $black, $amount: 0.70);
                        }
                        &-tva{
                            display: block;
                            width: 100%;
                            color: $white;
                            border-right: solid 2px transparentize($color: $black, $amount: 0.70);
                        }
                        &-total-tva{
                            display: block;
                            width: 100%;
                            color: $white;
                            border-right: solid 2px transparentize($color: $black, $amount: 0.70);
                        }
                        &-total{
                            display: block;
                            width: 100%;
                            color: $white;
                            border-right: solid 2px transparent;
                        }
                    }
                    &-body{
                        &-line{
                            display: flex;
                            &:nth-of-type(odd){
                                background-color: rgba(0,0,0,.1);
                            }
                            &-description{
                                display: block;
                                width: 100%;
                                &-input{
                                    @include input-style-table;
                                    padding-top: 10%;
                                    display: block;
                                    text-align: center;
                                    border-right: solid 2px transparentize($color: $black, $amount: 0.70);
                                }
                            }
                            &-unit{
                                display: block;
                                width: 100%;
                                &-input{
                                    @include input-style-table;
                                    display: block;
                                    overflow-y: hidden;
                                    height: 100%;
                                    text-align: center;
                                    border-right: solid 2px transparentize($color: $black, $amount: 0.70);
                                }
                            }
                            &-qty{
                                display: block;
                                width: 100%;
                                &-input{
                                    @include input-style-table;
                                    display: block;
                                    overflow-y: hidden;
                                    height: 100%;
                                    text-align: center;
                                    border-right: solid 2px transparentize($color: $black, $amount: 0.70);
                                }
                            }
                            &-unitPrice{
                                display: block;
                                width: 100%;
                                &-input{
                                    @include input-style-table;
                                    display: block;
                                    overflow-y: hidden;
                                    height: 100%;
                                    text-align: center;
                                    border-right: solid 2px transparentize($color: $black, $amount: 0.70);
                                }
                            }
                            &-tva{
                                width: 100%;
                                &-text{
                                    width: auto;
                                    color: $white;
                                }
                                &-value{
                                    @include input-style-table;
                                    display: block;
                                    overflow-y: hidden;
                                    height: 100%;
                                    text-align: center;
                                    -moz-appearance:none;
                                    -webkit-appearance:none;
                                    appearance:none;
                                    border-right: solid 2px transparentize($color: $black, $amount: 0.70);
                                }
                            }
                            &-total-tva{
                                display: block;
                                width: 100%;
                                &-input{ 
                                    @include input-style-table;
                                    display: block;
                                    overflow-y: hidden;
                                    height: 100%;
                                    text-align: center;
                                    border-right: solid 2px transparentize($color: $black, $amount: 0.70);
                                }
                            }
                            &-total{
                                display: block;
                                width: auto;
                                &-input{ 
                                    @include input-style-table;
                                    display: block;
                                    overflow-y: hidden;
                                    height: 100%;
                                    text-align: center;
                                    border-right: solid 2px transparent;
                                }
                            }
                        }
                    }
                }
            }
            &-fourthBIS-block{
                background-color: $light-gray;
                height: 80px;
                margin-top: 15px;
                text-align: center;
                &-table{
                    display: flex;
                    margin-left: -58px;
                    padding: 5px;
                    height: 65px;
                    &-head{
                        margin-left: 49%;
                        &-totalDF{
                            width: auto;
                            border-right: solid 2px transparentize($color: $black, $amount: 0.70);
                            background-color: transparentize($color: $white, $amount: 0.90);
                            &-text{
                                width: auto;
                                color: $white;
                                margin-top: 5px;
                            }
                            &-value{
                                text-align: center;
                                padding-left: 15px;
                                @include input-style;
                                height: 40px;
                            }
                        }
                        &-total{
                            width: auto;
                            border-right: solid 2px transparent;
                            background-color: transparentize($color: $white, $amount: 0.90);
                            &-text{
                                width: auto;
                                margin-top: 5px;
                                color: $white;
                            }
                            &-value{
                                text-align: center;
                                padding-left: 15px;
                                @include input-style;
                                height: 40px;
                            }
                        }
                        &-tva{
                            width: auto;
                            border-right: solid 2px transparentize($color: $black, $amount: 0.70);
                            background-color: transparentize($color: $white, $amount: 0.90);
                            &-text{
                                width: auto;
                                margin-top: 5px;
                                color: $white;
                            }
                            &-value{
                                @include input-style;
                                height: 40px;
                                width: 153px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            &-fifth-block{
                display: flex;
                position: absolute;
                bottom: 280px;
                background-color: $light-gray;
                margin-top: 25px;
                height: 220px;
                width: 956px;
                flex-direction: column;
                &-title{
                    text-align: center;
                    padding-top: 20px;
                    width: auto;
                    color: $white;
                    font-size: $h2;
                }
                &-cgv{
                    text-transform: lowercase;
                    margin-left: 45px;
                    width: auto;
                    color: $white;
                    font-size: $p;
                    line-height: 1.8;
                    &:nth-child(1){
                        margin-top: 10px;
                    }
                }
            }
            &-sixth-block{
                display: flex;
                position: absolute;
                bottom: 95px;
                margin-top: 25px;
                margin-bottom: 20px;
                :nth-child(2){
                    margin-left: 170px !important;
                }
                &-sign{
                    width: 300px;
                    height: 130px;
                    margin-left: 93px;
                    :nth-child(2){
                        margin-left: 0px !important;
                    }
                    &-me{
                        margin-top: 15px;
                        &-text{
                            margin-left: 20px;
                            color: $white;
                        }
                        &-img{
                            max-width: 200px;
                            max-height: 130px;
                            margin-top: 20px;
                            color: $white;
                        }
                    }
                    &-client{
                        margin-top: 15px;
                        margin-left: 20px;
                        color: $white;
                    }
                }
            }
            &-seventh-block{
                background-color: $light-gray;
                position: absolute;
                bottom: 30px;
                height: 35px;
                width: 956px;
                text-align: center;
                margin-top: 30px;
                margin-bottom: 15px;
                line-height: 36px;
                &-info-status{
                    display: inline-block;
                    width: auto;
                    height: 100%;
                    color: $white;
                    font-size: $p;
                }
                &-info-name{
                    display: inline-block;
                    width: auto;
                    height: 100%;
                    color: $white;
                    margin-left: 150px;
                }
                &-info-bce{
                    display: inline-block;
                    width: auto;
                    height: 100%;
                    color: $white;
                    margin-left: 150px;
                }
                &-info-tva{
                    display: inline-block;
                    width: auto;
                    height: 100%;
                    color: $white;
                    margin-left: 150px;
                }
            }
        }
    }
}
