// Import des scss des composants
@import './Utils/fonts.scss';
@import './Utils/colors.scss';
@import './Utils/animations.scss';
@import './Utils/variables.scss';
@import './Loader/loader.scss';

// Import des scss des pages
@import './Pages/Home/home.scss';
@import './Pages/Devis/devis.scss';
@import './Pages/Facture/facture.scss';


// Application du style par défaut
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html,
body {
    background-color: $gray;
    position: absolute;
    overflow: visible;
    overflow-y: overlay;
    width: 100%;
    z-index: -1;
    margin: 0;
    // Ajout du style de la barre de navigation
    ::-webkit-scrollbar {
        position: absolute;
        width: 10px;
        &-track {
            margin-top: 100px;
        }
        &-thumb {
            background: $gray;
            &:hover {
                background: $light-gray;
            }
        }
    }
}

.devis__container-section-fourth-block-delButton{
    position: absolute;
    z-index: 0;
    width: 120px;
    height: 50px;
    margin-top: 30px;
    margin-left: 15px;
    background-color: $red;
    color: $white;
    font-weight: bold;
    border: none;
    font-size: large;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: url(delete_1.png), not-allowed;
    &:hover{
        box-shadow: -1px 2.5px 2px $light-gray;
        transform: translateY(-1.5px);
    }
    &:active{
        box-shadow: 0 0 6px $black;
        transform: translateY(0px);
    }
}
.devis__container-section-fourth-block-addButton{
    position: absolute;
    z-index: 0;
    width: 120px;
    height: 50px;
    margin-left: 150px;
    margin-top: 30px;
    background-color: $green;
    color: white;
    font-weight: bold;
    border: none;
    font-size: large;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: url(add_0.png), cell;
    &:hover{
        box-shadow: -1px 2.5px 2px $light-gray;
        transform: translateY(-1.5px);
    }
    &:active{
        box-shadow: 0 0 6px $black;
        transform: translateY(0px);
    }
}
.devis__container-section-fourth-block-print-button{
    position: absolute;
    z-index: 0;
    width: 120px;
    height: 50px;
    margin-top: 30px;
    margin-left: 285px;
    background-color: $blue;
    color: $black;
    font-weight: bold;
    border: none;
    font-size: large;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: url(printPDF.png), crosshair;
    &:hover{
        box-shadow: -1px 2.5px 2px $light-gray;
        transform: translateY(-1.5px);
    }
    &:active{
        box-shadow: 0 0 6px $black;
        transform: translateY(0px);
    }
}

.devis__container-section-first-block-infos-devis-input-button-plus{
    position: absolute;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 3px;
    background-color: $green;
    margin-left: 50px;
    transition: all 0.1s ease-in-out;
    &-img{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:hover{
            filter: invert(100%);
        }
    }
    &:hover{
        box-shadow: 0px 0px 6px $white;
    }
    &:active{
        box-shadow: 0px 0px 6px $black;
    }
}
.devis__container-section-first-block-infos-devis-input-button-minus{
    position: absolute;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 3px;
    background-color: $red;
    margin-left: 10px;
    transition: all 0.1s ease-in-out;
    &-img{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:hover{
            filter: invert(100%);
        }
    }
    &:hover{
        box-shadow: 0px 0px 6px $white;
    }
    &:active{
        box-shadow: 0px 0px 6px $black;
    }

    
}


.facture__container-section-fourth-block-delButton{
    position: absolute;
    z-index: 0;
    width: 120px;
    height: 50px;
    margin-top: 30px;
    margin-left: 15px;
    background-color: $red;
    color: $white;
    font-weight: bold;
    border: none;
    font-size: large;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: url(delete_1.png), not-allowed;
    &:hover{
        box-shadow: -1px 2.5px 2px $light-gray;
        transform: translateY(-1.5px);
    }
    &:active{
        box-shadow: 0 0 6px $black;
        transform: translateY(0px);
    }
}
.facture__container-section-fourth-block-addButton{
    position: absolute;
    z-index: 0;
    width: 120px;
    height: 50px;
    margin-left: 150px;
    margin-top: 30px;
    background-color: $green;
    color: white;
    font-weight: bold;
    border: none;
    font-size: large;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: url(add_0.png), cell;
    &:hover{
        box-shadow: -1px 2.5px 2px $light-gray;
        transform: translateY(-1.5px);
    }
    &:active{
        box-shadow: 0 0 6px $black;
        transform: translateY(0px);
    }
}
.facture__container-section-fourth-block-print-button{
    position: absolute;
    z-index: 0;
    width: 120px;
    height: 50px;
    margin-top: 30px;
    margin-left: 285px;
    background-color: $blue;
    color: $black;
    font-weight: bold;
    border: none;
    font-size: large;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: url(printPDF.png), crosshair;
    &:hover{
        box-shadow: -1px 2.5px 2px $light-gray;
        transform: translateY(-1.5px);
    }
    &:active{
        box-shadow: 0 0 6px $black;
        transform: translateY(0px);
    }
}

.facture__container-section-first-block-infos-facture-input-button-plus{
    position: absolute;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 3px;
    background-color: $green;
    margin-left: 50px;
    transition: all 0.1s ease-in-out;
    &-img{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:hover{
            filter: invert(100%);
        }
    }
    &:hover{
        box-shadow: 0px 0px 6px $white;
    }
    &:active{
        box-shadow: 0px 0px 6px $black;
    }
}
.facture__container-section-first-block-infos-facture-input-button-minus{
    position: absolute;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 3px;
    background-color: $red;
    margin-left: 10px;
    transition: all 0.1s ease-in-out;
    &-img{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:hover{
            filter: invert(100%);
        }
    }
    &:hover{
        box-shadow: 0px 0px 6px $white;
    }
    &:active{
        box-shadow: 0px 0px 6px $black;
    }
}